<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Thymeleaf Hello World Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="/canal-panama/src/main/resources/static/bower_components/bootstrap/dist/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Spring Boot</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">

		<div class="starter-template">
			<h1>Spring Boot Web Thymeleaf Example</h1>
			<h2>
				<span th:text="'Apartamento -> MensajeTitulo = ' + ${mensajeTitulo}"></span>
			</h2>
		</div>

	</div>
	<!-- /.container -->
	
	<div class="card "><!-- bg-dark -->
			<div class="card-header">
				<h3>Lista de Cupos</h3>
			</div>
			<div class="card-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>id</th>
							<th>Esclusa</th>
							<th>Sentido</th>
							<th>Fecha</th>
							<th>Tipo</th>	
						</tr>
					</thead>

					<tbody>
						<tr th:each="cupo: ${listadoCupos}">
							<td th:text="${cupo.id}"></td>
							<td th:text="${cupo.tipo_esclusa}"></td>
							<td th:text="${cupo.sentido}"></td>
							<td th:text="${cupo.fecha}"></td>
							<td th:text="${cupo.tipo_cupo}"></td>
							
						</tr>
						<tr >
							
							<td th:text="${mensajeTitulo}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	
	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>